<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>berners-lee</title>
</head>
<body>
    <h1>BERNERS-LEE</h1>
    <nav>
        <ul>

           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam cupiditate quaerat consequuntur, quidem commodi, delectus laudantium similique rerum 
               reiciendis natus quod consequatur illo eius perferendis atque esse est beatae rem vero suscipit. Totam necessitatibus cum laudantium neque minima 
               culpa error id iste eveniet assumenda a officia qui laborum, enim dolores possimus adipisci atque, ipsum commodi quidem ipsam optio, itaque vero. 
               Quis eligendi laborum molestias quidem aspernatur ex cumque quos, maiores praesentium et corporis accusamus facilis eum laudantium beatae ipsum natus 
               officiis tenetur enim! Repellendus facilis laborum rerum debitis itaque quos perspiciatis! Quibusdam voluptates deleniti delectus reprehenderit, 
               commodi nam tempora excepturi?</p>


          


                

                <li><a href="/">inicio</a></li>

                


                </li>

        </ul>

    </nav>

    <img src="/img/Berners-lee.jpg" alt="'logotipo">

</body>
</html>