<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HÉROES TECNOLÓGICOS</h1>
    <nav>
        <ul>

           <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sapiente fugit veritatis earum ab reprehenderit quaerat, odit placeat dolor voluptatibus 
           quisquam. Sunt eum qui iusto pariatur accusantium earum esse aperiam vitae sit accusamus inventore, eligendi atque necessitatibus ad eveniet cum nesciunt. 
           Ipsum tenetur quae non excepturi, iste nisi possimus. Quam.</P>

           
           <br>

                <li><a href="/babbage">Babbage</a></li>
                <br>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <br>
                <li><a href="/clarke">Clarke</a></li>
                <br>
                <li><a href="/hamilton">Hamilton</a></li>
                <br>
                <li><a href="/lovelace">Lovelace</a></li>
                <br>
                <li><a href="/turing">Turing</a></li>
                <br>
        
                </li>

        </ul>

    </nav>


    <img src="/img/fondo.jpg" alt="'logotipo">

</body>
</html>